html {
    height: 100%;
    border-width: 0px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    /* overflow: hidden; */
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  /* overflow: hidden; */
  border-width: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

div.masthead {
  background-color: #cccccc;
  width: 100%;
  border-width: 0px;
  margin: 0px 0px 0px 0px;
  padding: -10px;
  vertical-align: middle;
  color: #ffffff;
}

div.inline_div {
  display:inline-block;
}

div.bodyDiv {
  float: center;
  width: 80;
  overflow: hidden;
}

/* .graph_controls {
  width: 30%;
  display:inline-block;
  float:right;
} */

/* p.graph_controls {
  float:left
  display:inline;
} */

div.sidepanel {
  background-color: #7395ae;
  float: left;
  width: 20%;
  height : 100vh;
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  border-width: 0px;
}

p {
  white-space: nowrap;
  display:inline-block;
}

div.mainpanel {
  float: center;
  background-color: #ffffff;
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  border-width: 0px;
  width: 90%;
  /* height: 100vh; */
}

.table {
  overflow-y: hidden;
  overflow-x: auto;
}

div.footer {
  background-color: #cccccc;
  width: 100%;
  border-width: 0px;
  margin: 0px 0px 0px 0px;
  padding: -10px;
  vertical-align: middle;
  color: #ffffff;
}

h3.subcomponent {
  color : #ffffff;
}
